Connected Services/ServiceEmpresa/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61594/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicio_Empresa" />
  <xs:element name="proveedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="proveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServicio_Empresa" minOccurs="0" name="proveedoresResult" nillable="true" type="q1:ArrayOfProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServicio_Empresa" minOccurs="0" name="reg" nillable="true" type="q2:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServicio_Empresa" minOccurs="0" name="reg" nillable="true" type="q3:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServicio_Empresa" minOccurs="0" name="reg" nillable="true" type="q4:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idempresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServicio_Empresa" minOccurs="0" name="BuscarResult" nillable="true" type="q5:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>